.leftside {
  background-color: #002a4a;
  padding: 3rem;
  background-image: url("../../assets/images/ornament.svg"), url("../../assets/images/bg.svg"),
    url("../../assets/images/bottom-bg.svg");
  height: 100vh;
  background-position: 0% 9%, right top, bottom left;
  background-repeat: no-repeat;
  position: fixed;
  overflow-y: auto;
  max-width: 40%;
  width: 100%;
}
.leftside .bottom-text {
  height: 500px;
  display: flex;
  align-items: end;
}
.leftside .bottom-text ul {
  list-style-type: none;
  display: flex;
}
.leftside .bottom-text ul a {
  color: #ffffffde;
  margin-right: 17px;
  font-size: 14px;
  font-weight: 100;
}
.leftside .upper-content {
  margin-top: 3rem;
  padding: 1.5rem;
}
.leftside .upper-content .small-screen {
  display: none;
}
.leftside .upper-content h2 {
  color: #ff992b;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 19px;
}
.leftside .upper-content h2 span {
  color: #fff;
}
.leftside .upper-content p {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
}

.loginn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginn .important-link {
  display: none;
}
.loginn .login {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}
.loginn .login .logo {
  margin-bottom: 40px;
  margin-top: 6rem;
}
.loginn .login h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  margin-top: 12px;
  color: #002a4a;
}
.loginn .login .form .paasrd {
  margin: 10px 0;
}
.loginn .login .form a {
  color: #ccc;
  text-decoration: unset;
  font-weight: 300;
}
.loginn .login .form .form-check-input:focus {
  box-shadow: unset;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.loginn .login .form .form-check-input:checked {
  background-color: #f6992d;
  border-color: #f6992d;
}
.loginn .login .form .username {
  border: 1px solid #ccc;
  border-radius: 36px;
  display: flex;
  padding: 4px 18px;
  align-items: center;
}
.loginn .login .form .username input {
  border: 0px !important;
}
.loginn .login .form .username input:focus {
  box-shadow: unset;
}
.loginn .login .form label {
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
}
.loginn .login .form input::placeholder {
  font-size: 14px;
  color: #707070;
  font-weight: 300;
}
.loginn .login .form button {
  width: 100%;
  padding: 11px 20px !important;
  border-radius: 35px !important;
  background-color: #ff992b;
  border-color: #ff992b;
  box-shadow: 0px 3px 12px rgba(249, 161, 27, 0.382321);
  margin-top: 1.2rem;
}
.loginn .login .form button:focus {
  box-shadow: unset;
}
.loginn .login .form p {
  text-align: center;
  margin: 13px 0;
  font-weight: 300;
  font-size: 15px;
}
.loginn .login .form p a {
  color: #ff992b;
}

.error-border{
  border: 1px solid red !important;
}

.error-msg{
  color: red;
}
.loginn .login .form .username input:focus{
  background-color: transparent;
}

.loginn .login form {
  margin-bottom: 3rem;
}
.signup {
  height: auto !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
@media (max-width: 1024px) {
    .leftside {
        height: auto !important;
        padding: 2rem;
      }
      .leftside .upper-content h2 {
        font-size: 29px;
        font-weight: bold;
        line-height: 33px;
      }
      .loginn .login {
        max-width: 450px;
        width: 100%;
        margin-top: 2.8rem;
      }
}
@media(max-width:991px){
  .loginn .login{
    margin-top: 0;
  }
  .loginn .login .logo{
    margin-top: 0;
  }
  .leftside {
    padding-bottom: 0;
    background-color: transparent;
    position: unset;
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
  }
  .leftside .bottom-text {
    display: none;
  }
  .leftside .bottom-text {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .leftside .bottom-text ul li a {
    color: #000;
  }
  .leftside .upper-content {
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .leftside .upper-content .small-screen {
    display: block !important;
  }
  .leftside .upper-content p {
    color: #151515;
  }
  .leftside .upper-content h2 {
    margin-bottom: 5px;
  }
  .leftside .upper-content h2 br {
    display: none;
  }
  .leftside .upper-content h2 span {
    color: #303030;
  }
  .loginn .important-link {
    display: block;
  }
  .loginn .important-link ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .loginn .important-link ul li {
    margin-left: 11px;
  }
  .loginn .important-link ul li a {
    color: #000 !important;
    text-decoration: underline !important;
  }
  .loginn .login .logo {
    margin-bottom: 24px;
  }
  .loginn .login .logo img {
    display: none;
  }
}
@media(max-height: 800px){
  .leftside .bottom-text{
    height: 235px;
  }
}
@media(max-width:320px){
  .leftside .upper-content h2 {
    font-size: 26px;
  }
  .loginn .login h3 {
    font-size: 22px;
  }
}