.profile {
    margin-top: 5rem;
  }
  .profile .wrap {
    border-radius: 5px;
    box-shadow: 8px 4px 19px 0px #00000011;
    padding: 3rem;
  }
  .profile .wrap button {
    width: 100%;
    padding: 11px 20px !important;
    border-radius: 35px !important;
    background-color: #ff992b;
    border-color: #ff992b;
    box-shadow: 0px 3px 12px rgba(249, 161, 27, 0.382321);
    margin-top: 19px;
  }
  .profile .wrap button:focus {
    box-shadow: unset;
  }
  .profile .wrap .form label {
    color: #002a4a;
  }
  .profile .wrap .form input {
    border: 0;
    background-color: #fafafa;
    padding: 10px 9px;
  }
 form .username {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 2px 13px;
    border-radius: 5px;
}
form .username input:focus {
  box-shadow: unset !important;
}
#profile_lastname {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 2px 13px;
  border-radius: 5px;  
}  
#profile_lastname input:focus {
  box-shadow: unset !important;
}
.user_img {
  position: relative; 
  max-width: 105px;
  width: 100%;
  margin: 0 auto;
}
.edit_userimg{
    position: absolute;
    right: 0;
    bottom: -4%;
}
.user_img img {
  object-fit: cover;
}
.dropdown img {
  object-fit: cover;
}
