.inner-wrap .heading {
    padding: 35px 0;
  }
  .pagination{
    justify-content: end;
    margin-top: 20px;
  }
  ul.pagination li:last-child {
    display: none;
}
ul.pagination li a {
  text-decoration: none;
  padding: 0 8px;
  color: #000;
}
ul.pagination li {
  padding: 3px;
}

ul.pagination .active {
  background-color: #f6992d;
  border-radius: 21px;
  padding: 3px;
}
ul.pagination li:first-child {
    display: none;
}
  @media (max-width: 425px) {
    .inner-wrap .heading {
      flex-direction: column;
      align-items: center;
    }
  }
  .inner-wrap .heading p {
    color: #002a4a;
  }
  .inner-wrap .heading p a {
    color: #000;
    text-decoration: none;
  }
  .inner-wrap .heading p a:hover {
    color: #000;
  }